/vendor
/.idea
/wordpress/wp-admin
/wordpress/wp-includes
/wordpress/wp-content/themes
/wordpress/wp-content/index.php
/wordpress/wp-content/themes/
/wordpress/wp-content/uploads/
/wordpress/*.php
/wordpress/wp-content/*.*
/wordpress/wp-content/uploads